body {
    font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: #1f8dd6;
}

.card {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    margin: auto;
    background-color: #d6681f;
    border-radius: 10px;
    transform: translateX(-50%) translateY(-50%);
}

.card-text {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    transform: translateX(-50%) translateY(-50%);
}