/*
    Colors:
    white: #F4FAFE
    lightest blue: #83BBE6
    lighter blue: #4191CF
    blue: #0A6EBC
    navy: #043A64
*/
/*http://paletton.com/#uid=13t0u0kKyQdcaUns4OzxpN1PA97 */ 

:root {
    --color-primary-1: #0694E0;
    --color-primary-2: #C8ECFF;
    --color-primary-3: #0694E0;
    --color-primary-4: #0B8FD6;
    --color-primary-5: #011E2E;

    --color-complementary-1: #FF9C43;
    --color-complementary-2: #FFF9F5;
    --color-complementary-3: #FFC18A;
    --color-complementary-4: #FF7800;
    --color-complementary-5: #9B4900;
}

html {
    outline: none;
    font-family: 'MS Reference Sans Serif';
}

body {
    
    overflow-x: hidden;
    background-color: var(--color-primary-5);
    
}

.card {
    position: relative;
    width: 280px;
    height: 500px;
    left: 50%;
    -webkit-transform: translate(-50%, 2.5%);
    border-radius: 10px;
    
}

.card-interior {
    /*background-color: var(--color-primary-1);
    border-radius: 10px;*/
    height: 100%;
    width: 100%;
}

.card-text-front,
.card-text-back {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: var(--color-primary-2);
    text-align: center;
}

